.container_l {
	width: 100%;
	height: 100%;
	padding: 0 64rpx;
	box-sizing: border-box;
}
.back {
	color: #00bfbf;
	font-size: 30rpx;
	margin-top: 32rpx;
}

.title {
	margin-top: 270rpx;
	font-size: 48rpx;
	font-weight: 500;
	color: #040404;
	position: relative;
}
.title:after{
	content:"";
	width: 11rpx;
	height: 11rpx;
	background: #0074FF;
	border-radius: 50%;
	position: absolute;
	bottom:-15rpx;
	left: 46%;
}

.int {
	width: 628rpx;
	height: 100rpx;
	background-color: #F3F3F3;
	border-radius: 78rpx;
	margin: 86rpx auto;
	display: flex;
	padding: 0 20rpx;
	box-sizing: border-box;
}

.int>.inp_ {
	width: 85%;
	height: 100%;
	/* padding-left: 40rpx; */
	/* box-sizing: border-box; */
}

.int>.clear,
.int>.open {
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.int>.open>image {
	width: 35rpx;
	height: 23rpx;
	display: block;
}

.int>.clear>image {
	width: 22rpx;
	height: 22rpx;
	display: block;
}

.next {
	width: 100%;
	height: 94rpx;
	background: #1977FF;
	border-radius: 78rpx;
	color: #FFFFFF;
	font-size: 36rpx;
	margin: 86rpx auto 36rpx;
	border: none;
}
.next_ {
	width: 100%;
	height: 94rpx;
	background: rgba(25,119,255,0.3);
	border-radius: 78rpx;
	color: #FFFFFF;
	font-size: 36rpx;
	margin: 86rpx auto 36rpx;
	border: none;
}
.next:after,.next_:after{
	border: none;
}

button[disabled] {
	background: none !important;
	color: #888888 !important;
}

.phone_reg {
	width:20%;
	color: #7692DB;
	font-size: 28rpx;
	/* background: #00BFBF; */
}

.pop {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
}

.pop_con {
	width: 100%;
	height: 436rpx;
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
	border-top-right-radius: 40rpx;
	border-top-left-radius: 40rpx;
	padding: 20rpx 60rpx;
}

.pop_t {
	display: flex;
	justify-content: space-between;
}
.pop_t>view{
	line-height: 87rpx;
	font-weight: bold;
	color: #242424;
	font-size:34rpx ;
}
.pop_t>.cancel{
	font-weight: normal;
	color:#999999;
	font-size:32rpx ;
}
.line {
	width: 100%;
	height: 1px;
	border-top: 1rpx solid #E5E5E5;
}

.pop_p {
	line-height: 80rpx;
	font-size: 28rpx;
	color: #242424;
	margin-top: 20rpx;
}



.pop_c {
	width: 100%;
	height: 80rpx;
	display: flex;
	border-bottom: 1rpx solid #E5E5E5;
}

.pop_c>input {
	width: 60%;
	height: 100%;
}

.pop_c>button {
	width: 40%;
	height: 100%;
	text-align: right;
	line-height: 80rpx;
	color: #323232;
	font-size: 26rpx;
	background: none;
}
.pop_b {
	color: #323232;
	font-size: 26rpx;
	background: none;
	text-align: right;
}

.pop_b:after {
	border: none;
}

.btn_n {
	width: 100%;
	height: 80rpx;
	border-radius: 20rpx;
	background-color: #DBDBDB;
	margin: 31rpx auto;
	text-align: center;
	line-height: 80rpx;
	color: #FFFFFF;
	border: none;
}

.btn_n1 {
	width: 100%;
	height: 80rpx;
	border-radius: 20rpx;
	background-color: #007AFF;
	margin: 31rpx auto;
	text-align: center;
	line-height: 80rpx;
	color: #FFFFFF;
	border: none;
}
